#main .hfh-course-progress {
  margin-block: 2rem;
}
#main .hfh-course-progress .hfh-course-progress-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}
#main .hfh-course-progress .hfh-course-progress-list li {
  margin-bottom: 1rem;
}
#main .hfh-course-progress .hfh-course-progress-list .hfh-chapter__progress-indicator {
  margin-left: auto;
}
#main .hfh-course-progress .hfh-part {
  margin-top: 1rem;
}
#main .hfh-course-progress .hfh-chapter {
  table-layout: auto;
}
#main .hfh-course-progress .hfh-chapter td {
  vertical-align: middle;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
#main .hfh-course-progress .hfh-progress-bar-wrapper {
  display: grid;
  grid-template-columns: 1fr 10rem;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  gap: 1rem;
}
#main .hfh-course-progress .hfh-progress-bar {
  position: relative;
  background-color: #f2d1d3;
  width: 100%;
  overflow: hidden;
  border: 1px solid #be1925;
}
#main .hfh-course-progress .hfh-progress-bar__value {
  height: 1.5rem;
  background-color: #be1925;
}
#main .hfh-course-progress .hfh-progress-bar__count {
  flex-shrink: 0;
  font-size: 1rem;
  text-align: right;
}
#main .hfh-course-progress .hfh-progress-bar__percentage {
  font-weight: bold;
  color: #be1925;
}
#main .hfh-course-progress .hfh-chapter {
  margin-top: 1rem;
  width: 100%;
}
#main .hfh-course-progress td:first-child {
  width: 90%;
}
#main .hfh-course-progress td:last-child {
  width: 10%;
  text-align: right;
}

.hfh-chapter__progress-indicator {
  width: 1.5rem;
  height: 1.5rem;
  fill: #f2d1d3;
  stroke: #be1925;
  flex-shrink: 0;
}

.hfh-chapter__progress-indicator--complete {
  fill: #be1925;
  stroke: none;
}

.hfh-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#hfh-course-progress-chapter-complete {
  margin-top: 3rem;
}

#hfh-course-progress-chapter-complete > button {
  cursor: pointer;
}

#main .toc .toc__title__container,
#page nav.reading-header__inside .toc .toc__title__container {
  display: flex;
  align-items: stretch;
}

#main .toc .toc__title__container > span,
#page nav.reading-header__inside .toc .toc__title__container > span {
  display: flex;
  margin-right: auto;
}

.toc__title__container .hfh-chapter__progress-indicator {
  margin-right: 0.5rem;
  height: 1.6875rem;
}
